# İş Problemi

Türkiye’nin en büyük online hizmet platformu olan Armut, hizmet verenler ile hizmet almak isteyenleri buluşturmaktadır.Bilgisayarın veya akıllı telefonunun üzerinden birkaç dokunuşla temizlik, tadilat, nakliyat gibi hizmetlere kolayca ulaşılmasını sağlamaktadır.Hizmet alan kullanıcıları ve bu kullanıcıların almış oldukları servis ve kategorileri içeren veri setini kullanarak Association Rule Learning ile ürün tavsiye sistemi oluşturulmak istenmektedir.

# Veri Seti

Veri seti müşterilerin aldıkları servislerden ve bu servislerin kategorilerinden oluşmaktadır. Alınan her hizmetin tarih ve saat bilgisini içermektedir.

* **UserId:** Müşteri numarası
* **ServiceId:** Her kategoriye ait anonimleştirilmiş servislerdir. (Örnek : Temizlik kategorisi altında koltuk yıkama servisi) Bir ServiceId farklı kategoriler altında bulanabilir ve farklı kategoriler altında farklı servisleri ifade eder.(Örnek: CategoryId’si 7 ServiceId’si 4 olan hizmet petek temizliği iken CategoryId’si 2 ServiceId’si 4 olan hizmet mobilya montaj)
* **CategoryId:** Anonimleştirilmiş kategorilerdir. (Örnek : Temizlik, nakliyat, tadilat kategorisi)
* **CreateDate:** Hizmetin satın alındığı tarih

## 1- Veriyi Hazırlama

In [1]:
# Gerekli kütüphanelerin import edilmesi
import pandas as pd
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Veri setinin okutulması
df_ = pd.read_csv("armut_data.csv")
df = df_.copy()
df.head()

   UserId  ServiceId  CategoryId           CreateDate
0   25446          4           5  2017-08-06 16:11:00
1   22948         48           5  2017-08-06 16:12:00
2   10618          0           8  2017-08-06 16:13:00
3    7256          9           4  2017-08-06 16:14:00
4   25446         48           5  2017-08-06 16:16:00

In [6]:
# ServisID her bir CategoryID özelinde farklı bir hizmeti temsil etmektedir. ServiceID ve CategoryID'yi "_" ile birleştirerek hizmetleri temsil edecek yeni bir değişken oluşturunuz.

df["Hizmet"] = df["ServiceId"].astype(str) + "_" + df["CategoryId"].astype(str)
df.head()

   UserId  ServiceId  CategoryId           CreateDate Hizmet
0   25446          4           5  2017-08-06 16:11:00    4_5
1   22948         48           5  2017-08-06 16:12:00   48_5
2   10618          0           8  2017-08-06 16:13:00    0_8
3    7256          9           4  2017-08-06 16:14:00    9_4
4   25446         48           5  2017-08-06 16:16:00   48_5

In [7]:
# Adım 3: Veri seti hizmetlerin alındığı tarih ve saatten oluşmaktadır, herhangi bir sepet tanımı (fatura vb. ) bulunmamaktadır.Association Rule Learning uygulayabilmek için bir sepet (fatura vb.) tanımı oluşturulması gerekmektedir. Burada sepet tanımı her bir müşterinin aylık aldığı hizmetlerdir. Örneğin; 7256 id'li müşteri 2017'in 8.ayında aldığı 9_4, 46_4 hizmetleri bir sepeti;
# 2017’in 10.ayında aldığı  9_4, 38_4  hizmetleri başka bir sepeti ifade etmektedir. Sepetleri unique bir ID ile tanımlanması gerekmektedir.Bunun için öncelikle sadece yıl ve ay içeren yeni bir date değişkeni oluşturalım. UserID ve yeni oluşturduğumuz date değişkenini "_" ile birleştirirek ID adında yeni bir değişkene atayalım.

df["CreateDate"] = pd.to_datetime(df["CreateDate"])
df.head()

   UserId  ServiceId  CategoryId          CreateDate Hizmet
0   25446          4           5 2017-08-06 16:11:00    4_5
1   22948         48           5 2017-08-06 16:12:00   48_5
2   10618          0           8 2017-08-06 16:13:00    0_8
3    7256          9           4 2017-08-06 16:14:00    9_4
4   25446         48           5 2017-08-06 16:16:00   48_5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162523 entries, 0 to 162522
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   UserId      162523 non-null  int64
 1   ServiceId   162523 non-null  int64
 2   CategoryId  162523 non-null  int64
 3   CreateDate  162523 non-null  datetime64[ns]
 4   Hizmet      162523 non-null  object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [9]:
df["new_date"] = df["CreateDate"].dt.strftime("%Y-%m")
df.head()

   UserId  ServiceId  CategoryId          CreateDate Hizmet new_date
0   25446          4           5 2017-08-06 16:11:00    4_5  2017-08
1   22948         48           5 2017-08-06 16:12:00   48_5  2017-08
2   10618          0           8 2017-08-06 16:13:00    0_8  2017-08
3    7256          9           4 2017-08-06 16:14:00    9_4  2017-08
4   25446         48           5 2017-08-06 16:16:00   48_5  2017-08

In [10]:
df["SepetId"] = df["UserId"].astype(str) + "_" + df["new_date"]
df.head()

   UserId  ServiceId  CategoryId          CreateDate Hizmet new_date        SepetId
0   25446          4           5 2017-08-06 16:11:00    4_5  2017-08  25446_2017-08
1   22948         48           5 2017-08-06 16:12:00   48_5  2017-08  22948_2017-08
2   10618          0           8 2017-08-06 16:13:00    0_8  2017-08  10618_2017-08
3    7256          9           4 2017-08-06 16:14:00    9_4  2017-08   7256_2017-08
4   25446         48           5 2017-08-06 16:16:00   48_5  2017-08  25446_2017-08

## 2- Birliktelik Kurallarının Üretilmesi

In [11]:
# sepet hizmet pivot table’i oluşturulması

invoice_product_df = df.groupby(["SepetId", "Hizmet"])["Hizmet"].count().unstack().fillna(0).applymap(lambda x: 1 if x > 0 else 0)
invoice_product_df.head()

Hizmet         0_8  10_9  11_11  12_7  13_11  14_7  15_1  16_8  17_5  18_4  19_6  1_4  20_5  21_5  22_0  23_10  24_10  25_0  26_7  27_7  28_4  29_0  2_0  30_2  31_6  32_4  33_4  34_6  35_11  36_1  37_0  38_4  39_10  3_5  40_8  41_3  42_1  43_2  44_0  45_6  46_4  47_7  48_5  49_1  4_5  5_11  6_7  7_3  8_5  9_4
SepetId
0_2017-08        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     1     0     1     0    0     0    0    0    0    0
0_2017-09        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     0     0     1     0    1     0    0    0    0    0
0_2018-01        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     1     0     0     0     0      0     0     0     0      0    0     0     0     0     1     0     0     0     0     0     0    0     0    0    1    0    0
0_2018-04        0     0      0     0      0     1     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     1     0     0     0     0      0     0     0     0      0    0     0     0     0     1     0     0     0     0     0     0    0     0    0    0    0    0
10000_2017-08    0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     1     0     0     0    0     0    0    0    0    0

In [12]:
# Birliktelik kurallarının oluşturulması

frequent_items = apriori(invoice_product_df, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_items, metric="support", min_threshold=0.01)
rules.head()

  antecedents consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction  zhangs_metric
0     (13_11)       (2_0)            0.056627            0.130286  0.012819    0.226382  1.737574  0.005442    1.124216       0.449965
1       (2_0)     (13_11)            0.130286            0.056627  0.012819    0.098394  1.737574  0.005442    1.046325       0.488074
2      (15_1)       (2_0)            0.120963            0.130286  0.033951    0.280673  2.154278  0.018191    1.209066       0.609539
3       (2_0)      (15_1)            0.130286            0.120963  0.033951    0.260588  2.154278  0.018191    1.188833       0.616073
4      (33_4)      (15_1)            0.027310            0.120963  0.011233    0.411311  3.400299  0.007929    1.493211       0.725728

## 3- Projenin Fonksiyonlaştırılması

In [13]:
def arl_recommendation(df, hizmet, min_support=0.01, metric="support", min_threshold=0.01, rec_count=1):
    from mlxtend.frequent_patterns import apriori, association_rules

    # Sepet-hizmet pivot table oluşturma
    invoice_product_df = df.groupby(["SepetId", "Hizmet"])["Hizmet"].count().unstack().fillna(0).applymap(
        lambda x: 1 if x > 0 else 0)

    # Apriori algoritması ile sık hizmet kümelerini bulma
    frequent_items = apriori(invoice_product_df, min_support=min_support, use_colnames=True)

    # Birliktelik kurallarını oluşturma
    rules = association_rules(frequent_items, metric=metric, min_threshold=min_threshold)

    # Seçilen hizmeti içeren kuralları filtrele
    sorted_rules = rules[rules["antecedents"].apply(lambda x: hizmet in x)].sort_values("lift", ascending=False)

    # Önerilecek hizmet sayısı kadar öneriyi al
    recommendations = sorted_rules["consequents"].apply(lambda x: list(x)[0]).head(rec_count)

    return recommendations


# Fonksiyonu çağırarak 2_0 hizmetine göre önerilerde bulunma
recommended_services = arl_recommendation(df, "2_0", rec_count=5)
print(recommended_services)

13     22_0
14     25_0
3      15_1
1     13_11
17     38_4
Name: consequents, dtype: object